<%- include('./partials/header') %>
<div class = i-background>
<h2>Welcome To Salt Lake Hike and Bike</h2>
<h3>Log In and you can view all the trails in and around our beautiful city. Feel free to post new trails and update old ones!</h3>
</div>
<%- include('./partials/footer') %>