body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.bike-pic::before,
.hike-pic::before,
.i-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #f0f0f0;
  opacity: 0.2;
}

.bike-pic::before {
  background-image: url("https://i.imgur.com/jUCigN9.jpg");
}

.hike-pic::before {
  background-image: url("https://i.imgur.com/nmw4f4n.jpg");
}

.i-background::before {
  background-image: url('https://i.imgur.com/wAl6pRX.jpg');
}
table.bike-pic {
  position: relative;
  overflow: hidden; 
}

table.hike-pic {
  position: relative;
  overflow: hidden;
}

a {
  color: #00B7FF;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #444;
  padding: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav a:hover {
  background-color: #555;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

h1, h2, h3 {
  color: #151414;
  display: flex;
  justify-content: center;
  align-items: center;

}

h2 {
  font-size: 32px;
  color: #336699;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-size: 20px;
  color: #000000;
  text-align: center;
  margin-top: 50px;
  padding: 0 20px; 
  max-width: 600px; 
  margin: 0 auto; 
}


table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

table th, table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

table th {
  background-color: #f2f2f2;
}

form {
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input[type="text"],
form select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #444;
}
.trail-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}


.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

td a {
  text-decoration: none;
  color: #336699;
  display: flex;
  justify-content: center;
  align-items: center;

}

p a {
  padding: 6px 10px;
  background-color: #336699;
  color: #fff;
  border-radius: 4px;
  max-width: 200px; 
  text-align: center; 
  display: flex;
  justify-content: center;
  align-items: center;

}

label {
  font-weight: bold;
}

.button-container button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #336699;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}